<div class="container-fluid mt-3">
  <div class="row justify-content-center">
    <div class="col-6">
      <div [formGroup]="projectForm">
        <div class="form-group">
          <label for="name">Project Name</label>
          <input class="form-control" id="name" name="name" formControlName="name">
          <div class="help-block"
               *ngIf="!projectForm.get('name').valid && projectForm.get('name').touched">
            <div *ngIf="projectForm.get('name').getError('required')">
              This field is required!
            </div>
            <div *ngIf="projectForm.get('name').getError('forbiddenName')">
              This name is invalid!
            </div>
          </div>
          <label for="nameAsync">Project Name (Async one)</label>
          <input class="form-control" id="nameAsync" name="nameAsync" formControlName="nameAsync">
          <div class="help-block"
               *ngIf="!projectForm.get('nameAsync').valid && projectForm.get('nameAsync').touched">
            <div *ngIf="projectForm.get('nameAsync').getError('required')">
              This field is required!
            </div>
            <div *ngIf="projectForm.get('nameAsync').getError('forbiddenName')">
              This name is invalid!
            </div>
          </div>
          <label for="email">Email</label>
          <input class="form-control" id="email" name="email" formControlName="email">
          <div class="help-block"
               *ngIf="!projectForm.get('email').valid && projectForm.get('email').touched">
            <div *ngIf="projectForm.get('email').getError('required')">
              This field is required!
            </div>
            <div *ngIf="projectForm.get('nameAsync').getError('email')">
              This email is invalid!
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="status">Project Status</label>
          <select class="form-control" name="status" id="status" formControlName="status">
            <option *ngFor="let status of statuses"> {{status}} </option>
          </select>
        </div>
        <button type="button" name="submit" id="submit" class="btn btn-primary btn-lg btn-block"
                (click)="onSubmit()" [disabled]="!projectForm.valid"> Submit </button>
      </div>

    </div>
  </div>
</div>
