<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">Recipe Book</a>
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>

  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="nav navbar-nav w-100">
      <li class="nav-item active">
        <a class="nav-link" href="#"> Recipes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Shopping list </a>
      </li>
      <li class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Manage</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Save data</a>
          <a class="dropdown-item" href="#">Fetch data</a>
        </div>
      </li>
    </ul>
  </div>

</nav>
