<div class="container-fluid">
  <div class="row">
    <div class="col-6 mt-4">
      <form [formGroup]="httpForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="titleInput">Title</label>
          <input id="titleInput" placeholder="Test" class="form-control" formControlName="title"/>
        </div>
        <div class="form-group">
          <label for="contentInput">Content</label>
          <textarea id="contentInput" placeholder="This is a test!" class="form-control" formControlName="content"
                    ></textarea>
        </div>
        <button type="submit" name="sendPost" id="sendPost"
                class="btn btn-primary btn-lg">Send Post</button>
        <hr>
        <button type="button" name="fetchPosts" id="fetchPosts"
                class="btn btn-primary btn-lg">Fetch Posts</button>
        <span class="mx-2"> | </span>
        <button type="button" name="clearPosts" id="clearPosts" class="btn btn-danger btn-lg "
                disabled="true">Clear
          Posts</button>
        <div class="mt-4"> No posts available! </div>
      </form>
    </div>
  </div>
</div>
