<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <hr>
      <app-game-control (numbers)="updateTimer($event)"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-2" *ngFor="let number of numbers">
      <ng-container *ngIf="number%2==0; then even; else odd"></ng-container>
      <ng-template #odd>
          <app-odd [number]="number"></app-odd>
      </ng-template>
      <ng-template #even>
          <app-even [number]="number"></app-even>
      </ng-template>
    </div>
  </div>
</div>
