<div class="containerX">
  <div class="container">
    <div fxLayout="row">
      <div fxFlexOffset="10%">
        <mat-list role="list">
          <ng-container *ngFor="let server of servers">
              <mat-list-item role="listitem" [ngClass]="getStatusClasses(server)">
                  <strong> {{server.name | shorten:15}} </strong> | 
                  {{server.instanceType | uppercase}} | 
                  {{server.started | date:'fullDate' | uppercase}}
                  <mat-chip-list [ngClass]="{'ml-1': true}">
                      <mat-chip color="primary"> {{server.status}} </mat-chip>
                  </mat-chip-list>
                </mat-list-item>
                <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
      </div>
    </div>
  </div>
</div>
