<div class="row">
  <div class="col-12" *ngIf="recipe != undefined">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div appDropdown>
      <div class="dropdown">
        <button type="button" name="manageRecipe" id="manageRecipe" class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage recipe
        </button>
        <div class="dropdown-menu" aria-labelledby="manageRecipe">
          <a href="#" class="dropdown-item">Action</a>
          <a href="#" class="dropdown-item">Another action</a>
          <a href="#" class="dropdown-item">Something else here</a>
        </div>
      </div>
    </div>
  </div>
</div>
